@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8)
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 20s;
}

@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-family: "Baloo Da 2", serif;
    font-weight: 200;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
    
}

.banner p {
    font-family: "Josefin Slab", serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: "Mulish", serif;
    color: white;
    letter-spacing: .1rem;
    text-transform: uppercase;
    background: #7F00FF;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    background: linear-gradient(to right, #E100FF, #7F00FF);
    padding: 1rem 3rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
    opacity: 0.8;
    padding: 1rem 4rem;
    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(0deg);
        opacity: 1;
    }

}
